<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="shortcut icon" href="/oplan/img/login/oplan.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/oplan/img/login/oplan.ico" type="image/vnd.microsoft.icon">
    <!-- 图标字体 -->
    <link
      rel="stylesheet"
      href="//at.alicdn.com/t/font_1151129_cm0ujledwk8.css"
    />
    <!-- 高德地图 -->
    <!-- <script src="https://webapi.amap.com/maps?v=1.4.8&key=0bb54f0db71ade0de7f75803c69dcab2&plugin=AMap.ControlBar&plugin=AMap.CustomLayer"></script> -->
    <script src="https://webapi.amap.com/maps?v=1.4.8&key=cd34f80c2da97b8441752a5884050afe&plugin=AMap.ControlBar"></script>
    <script src="http://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
    <title>OPLAN云平台</title>
  </head>

  <body>
    <noscript>
      <strong
        >We're sorry but oplan_simluate doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="fileSystem"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
